Source: dp-lib
Section: libs
Priority: optional
Maintainer: usaha@qti.qualcomm.com
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 12), libpcap-dev, libbsd-dev

Package: dp-lib
Architecture: all
Section: libs
Priority: optional
Description: CSM DP Library
 This package contains the dp-lib source files
