#!/usr/bin/make -f
PRJ = dp-lib
API_FILE = csm_dp_api.h
PRODUCT = dp_ping

%:
	dh $@
override_dh_auto_build:
	make clean
	make -C $(CURDIR)/test/dp_ping clean
	make
	make -C $(CURDIR)/test/dp_ping
override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/$(PRJ)/usr/lib
	mkdir -p $(CURDIR)/debian/$(PRJ)/usr/include
	mkdir -p $(CURDIR)/debian/$(PRJ)/usr/local/bin
	install -m 755 libcsm_dp.so $(CURDIR)/debian/$(PRJ)/usr/lib
	install -m 755 $(CURDIR)/include/$(API_FILE) $(CURDIR)/debian/$(PRJ)/usr/include
	install -m 777 $(CURDIR)/test/dp_ping/$(PRODUCT) $(CURDIR)/debian/$(PRJ)/usr/local/bin
override_dh_installdocs override_dh_usrlocal override_dh_perl:
